---
import Mail from "./icons/Mail.astro"
import Whatsapp from "./icons/Whatsapp.astro"
---
<section class="text-xl flex flex-col">
    <h3 class="text-amber-100/90 mb-8">María Belén Almazán</h3>        
    <a href="https://web.whatsapp.com/send?phone=+543584868285" target="_blank" class=" hover:text-green-100 transition flex flex-row items-center mb-8"><Whatsapp class="size-6 mr-2"/> +54(358)4868285</a>
    <a href="mailto:almazanbelen01@gmail.com" target="_blank" class=" hover:text-sky-200  transition flex flex-row items-center mb-8">
        <Mail class="size-7 mr-2"/> almazanbelen01@gmail.com
    </a>
</section>