---
import AstroIcon from "./icons/Astro.astro";
---

<footer
  class="flex flex-col justify-center items-center m-7 text-lg opacity-70"
>
  <div class="flex flex-row my-4">
    <AstroIcon />
    <h4>Esta pagina fue creada con Astro by Belén Almazán</h4>
  </div>
  <h4>
    Créditos Miguel Ángel Durán <a
      href="https://www.youtube.com/@midulive"
      target="_blank"
      class="hover:text-amber-100"
    >
      @midulive</a
    >
  </h4>
</footer>
