---
import SocialPill from "./SocialPill.astro";
---

<header class="py-5 w-full mx-auto lg:w-[740px]">
  <nav class="flex flex-row justify-between gap-x-8 opacity-80">
    <SocialPill href="/" target="_self">Inicio</SocialPill>
    <SocialPill href="#projects" target="_self">Proyectos</SocialPill>
    <SocialPill href="#about" target="_self">Sobre mí</SocialPill>
    <SocialPill href="#contact" target="_self">Contacto</SocialPill>
  </nav>
</header>
